.sidebar-component {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #ffffff;
  padding: 20px 20px 20px 0;
}

.sidebar-component ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-component a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  padding: 10px;
  color: #909090;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-component .sidebar-icon {
  color: #909090;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 24px;
}

.sidebar-component .sidebar-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar-component a:hover {
  color: #070715;
  background-color: #f6f6f6;
  & .sidebar-icon {
    color: #070715;
  }
}
