* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f6f6;
  color: #070715;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}