.app-layout {
  min-height: 100vh;
}

.app-layout main {
  max-width: 1100px;
}

.app-layout main,
.app-layout header {
  padding: 20px;
  margin-left: 250px;
}

h1 {
  font-weight: 600;
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
}

.app-layout .course-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 70px;
}
